.portfolio__container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 2.5rem;
}

.portfolio__item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio_item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image img{
    border-radius: 5rem;
    height: 420px;
    padding: 30px;
}

.portfolio__item h3{
    padding: 10px;
}

.portfolio__item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/*================= MEDIA QUERIES (MEDIUM DEVICES) ========================== */

@media screen and (max-width:1253px) {
    .portfolio__container {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        gap: 2.5rem;
        width: 80%;
    }

    .portfolio__item-image img{
        border-radius: 2rem;
        height: 150px;
        padding: 10px;
    }
    .btn{
        font-size: 10px;
    }
 }
 
 @media screen and (max-width:600px) {
    .portfolio__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5rem;
        width: 300px;
        padding: 20px;
        padding-top: 60px;
    }

    .portfolio__item{
        padding: 20px;
    }
           
    .portfolio__item-cta{
        font-size: 12px;
    }

    .portfolio__item h3{
        padding: 5px;
        font-size: 10px;
    }

    .btn{
        font-size: 10px;
    }
    .portfolio__item-image img{
        border-radius: 2rem;
        height: 150px;
        padding: 8px;
    }
 }
 
 