nav{
    background: rgba(0, 0, 0, 0.2);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 39%;
    transform: translate(-50);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    
}

nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-white);
    font-size: 1.1rem;
}

nav a:hover{
    background: rgba(0, 0, 0, 0.3);
}

nav a.active{
    background: var(--color0bg);
    color: var(--color-white);
}

/*================= MEDIA QUERIES (MEDIUM DEVICES) ========================== */

@media screen and (max-width:1254px) {
    nav{
        position: fixed;
        left: 0rem;
        gap: 1rem;
        border-radius: 0rem 1.1rem 3.5rem 0;
} 
}


/*===========MEDIAQUERIES(SMALL DEVICES)==============*/
@media screen and (max-width:600px){
  nav{
        position: fixed;
        left: 0rem;
        gap: 0.5rem;
        border-radius: 0rem 1rem 2rem 0;
        padding: 0.5rem  0.5rem;
}
}